<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>Adam Khaddaj</title>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#113378">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="assets/css/style.css">
    {% include head-custom.html %}

    <style>
.gallery-container {
    display: flex;
    justify-content: center;
    width: 100%; /* Ensure container takes full width */
    padding: 15px; /* Optional: add some padding around the gallery */
    box-sizing: border-box;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1600px; /* Set a max-width for the gallery */
    margin: -10px;
}

.gallery-item {
    flex: 1 0 30%; /* 1: grow, 0: shrink, 30%: basis */
    margin: 10px;
    box-sizing: border-box;
    text-align: center; /* Center align text */
}

.description {
    margin-top: 8px;
    font-size: 14px;
    color: #555;
}
  </style>
  </head>
  
  <body style="text-align:center;">

    <header class="page-header" role="banner" style="padding-bottom:0px">
      <h1 class="project-name">Adam Khaddaj</h1>
      <h2>Software and Game Developer</h2>
      <h3><a href="mailto:adamkhaddaj@cmail.carleton.ca">adamkhaddaj@cmail.carleton.ca</a></h3>
    </header>
    <main id="content" class="main-content" role="main">
      <p style="padding-left:400px; padding-right:400px; font-size:20px">
        <br><br>
        I'm a recent computer science graduate with a specialization and deep passion for video game development.
        <br><br>
        I've worked on a variety of game related projects, mostly leaning towards interesting rendering effects.

      </p>
      <header>
        <h1 style="font-size:32px">Projects</h1>
      </header>
    <div class="gallery-container">
      <div class="gallery">
        <div class="gallery-item">
            <a href="https://adamkhaddaj.github.io/ActNormal/">
              <img src="Images/actnormal.PNG" alt="Image" width="400" height="400" style="border: 8px solid black;">
            </a>
            <header style="padding-top:10px">
              <h1 style="font-size:20px">
              <a href="https://adamkhaddaj.github.io/ActNormal/">Act Normal (GameJam Submission)</a>
              </h1>
            </header>
          </div>
        <div class="gallery-item">
            <a href="https://adamkhaddaj.github.io/Unity-RTS-Game-Demo-Dracula/">
              <img src="Images/draculabetter.PNG" alt="Image" width="400" height="400" style="border: 8px solid black;">
            </a>
              <header style="padding-top:10px">
                <h1 style="font-size:20px">
                  <a href="https://adamkhaddaj.github.io/Unity-RTS-Game-Demo-Dracula/">Dracula, a prototype Real-Time Strategy Game</a></header>
                </h1>
          </div>
          <div class="gallery-item">
            <a href="https://adamkhaddaj.github.io/ScribbleRendering/">
              <img src="Images/scribblerabbit.PNG" alt="Image" width="400" height="400" style="border: 8px solid black;">
            </a>
            <header style="padding-top:10px">
              <h1 style="font-size:20px">
              <a href="https://adamkhaddaj.github.io/ScribbleRendering/">Cross-Hatching Renderer</a>
              </h1>
            </header>
          </div>
          <div class="gallery-item">
            <a href="https://adamkhaddaj.github.io/Space-Colonization-Vines/">
              <img src="Images/bunnyVineGrowth.png" alt="Image" width="400" height="400" style="border: 8px solid black;">
            </a>
            <header style="padding-top:10px">
              <h1 style="font-size:20px">
                 <a href="https://adamkhaddaj.github.io/Space-Colonization-Vines/">Vine Growth Generator and Renderer</a>
              </h1>
            </header>
          </div>
          <div class="gallery-item">
            <a href="https://adamkhaddaj.github.io/CustomGameEngine_OpenGL/">
              <img src="Images/MazeTitle.PNG" alt="Image" width="400" height="400" style="border: 8px solid black;">
            </a>
            <header style="padding-top:10px">
              <h1 style="font-size:20px">
              <a href="https://adamkhaddaj.github.io/CustomGameEngine_OpenGL/">The Maze, an OpenGL Demo Game</a>
              </h1>
            </header>
          </div>
          <div class="gallery-item">
            <a href="https://adamkhaddaj.github.io/TOJam2023-Submission/">
              <img src="Images/square.PNG" alt="Image" width="400" height="400" style="border: 8px solid black;">
            </a>
            <header style="padding-top:10px">
              <h1 style="font-size:20px">
              <a href="https://adamkhaddaj.github.io/TOJam2023-Submission/">Journey on the Stellarix 9000 (GameJam Submission)</a>
              </h1>
            </header>
          </div>
      </div>
      
    </main>



  </body>
</html>
