<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#113378">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="assets/css/style.css">
    {% include head-custom.html %}

    <style>
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  </style>
  </head>
  
  <body style="text-align:center;">

    <header class="page-header" role="banner" style="padding-bottom:0px">
      <h1 class="project-name">Hello! I'm Adam Khaddaj</h1>
    </header>
    <main id="content" class="main-content" role="main">
      <p style="padding-left:400px; padding-right:400px">
        <br><br>
        I'm a recent computer science graduate, with a specialization and deep passion for video game development. I've worked on a wide variety of game related projects, mostly leaning towards interesting rendering effects.

      </p>
      <header>
        <h1 style="font-size:32px">Projects</h1>
      </header>
      <div class="gallery">
  <a target="_blank" href="img_5terre.jpg">
    <img src="Images/scribblerabbit.PNG" alt="Image" width="500" height="500">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div>
  <a target="_blank" href="img_forest.jpg">
    <img src="Images/bunnyVineGrowth.png" alt="Image" width="500" height="500">
  </a>
  <div class="desc">Add a description of the image here</div>
  <a target="_blank" href="img_lights.jpg">
    <img src="Images/dracul.PNG" alt="Image" width="500" height="500">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_lights.jpg">
    <img src="Images/dracul.PNG" alt="Image" width="500" height="500">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
    </main>



  </body>
</html>
