<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body style="text-align:center;">

    <header class="page-header" role="banner" style="padding-bottom:0px">
      <h1 class="project-name">Hello! I'm Adam Khaddaj</h1>
    </header>
    <main id="content" class="main-content" role="main">
      <p style="padding-left:400px; padding-right:400px">
        I'm a recent computer science graduate with a specialization in video game development. I've worked on a wide variety of game related projects, mostly leaning towards interesting rendering effects.
        <br><br>
        
        
      </p>
      <header>
        <h1 style="font-size:32px">Projects</h1>
      </header>
      
    </main>
  </body>
</html>
